/*
Style required.
Simple formula for getting block formatting context & hasLayout trigger;
display: inline;-just for 'IE Double Margin Bug'.
*/

.x_wrapper {
  overflow: hidden;
  width: 100%;
}

.x_container {
  overflow: hidden;
  width: 99999px;
}

.x_item {
  float: left;
/*display: inline;*/
}