.x_wrapper{
    overflow: hidden;
    width: 100%;
}

.x_container{
    width: 99999px;
    display: block;
}

.x_item{
    float: left;
    display: inline-block;
}

.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: ' ';
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}