.x_wrapper {
    overflow: hidden;
    width: 100%;
}

.x_container {
    width: 99999px;
    display: block;
}

.x_item {
    float: left;
    display: inline-block;
}

.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: ' ';
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

/*above required*/

/*custom style*/
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 100%;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video {
    display: block;
    position: relative;
}

body,button,input {
    -webkit-font-smoothing: subpixel-antialiased;
    font-smooth: always;
}

::-moz-focus-inner {
    border: none;
    padding: 0;
}

/* Selections */

::selection {
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: none;
}

/* Anchors */

a, a:link, a:visited {
    cursor: pointer;
    color: #777;
}

a:hover, a:focus {
    color: #ff0000
}

a:active {

}

/* Background */

html {
    height:100%;
    background: transparent;
}

body {
    height:100%;
    background: #eee;
    font: normal 12px/1.5 HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    color: #f1f1f1;
}


#Wrapper {
    padding: 30px 0;
}

header {
    width: 1280px;
    position: fixed;
    margin-left: 20px;
    z-index: 99;
}
header h1 {
    font: 36px/48px "Lucida Grande", Verdana, sans-serif;
}

nav {
    float: left;
    margin-top: -15px;
}
nav ul li {
    float: left;
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    float: left;
    width: 50px;
    height: 50px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    background-color: #333;
    border-radius: 25px;
}

#XContainer {
    margin: 50px 0;
    background: #fcfcfc;
}
.x_item {
    width: 700px;
    height: 400px;
    border-right: 2px dashed #333;
}
article {
    padding: 0 20px;
}
article h2 {
    margin: 10px 0;
    font: 24px/36px "Lucida Grande", Verdana, sans-serif;
    color: #333;
}
article p {
    margin: 10px 0;
    padding: 100px 0;
}
.anchor {
    
}
.anchor a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    background-color: #333;
    border-radius: 25px;
    margin: 10px auto;
}

#This {
    font-size: 12px;
    line-height: 36px;
    color: #ff0000;
}
#This span {
    margin-right: 10px;
}